@charset "UTF-8";
/*----------------------------------------------------
@File: Default Styles
@Author: paul_tf
@URL: 
Author E-mail: 
old green color #d3ed34
This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.
---------------------------------------------------- */
/*=====================================================================
@Template Name: Sparch
@Author:  paul_tf
@Developed By: Rony
@Developer URL: http://rocky.wethemez.com 
Author E-mail: ronymia015@gmail.com

@Default Styles

Table of Content:
01/ Variables
02/ predefin
03/ header
04/ button
05/ banner
06/ breadcrumb
07/ about
08/ team
09/ project 
10/ price 
11/ team 
12/ blog 
13/ video  
14/ features  
15/ career  
16/ contact 
17/ footer

=====================================================================*/
/*----------------------------------------------------*/
/*font Variables*/
/*Color Variables*/
/*=================== fonts ====================*/
@font-face {
  font-family: "swanse";
  src: url(../fonts/swansea-webfont.woff);
}

@font-face {
  font-family: "swanseb";
  src: url(../fonts/swansea_bold-webfont.woff);
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.row.m0 {
  margin: 0px;
}

body {
  line-height: 26px;
  font-size: 16px;
  font-family: "swanse";
  color: #787878;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "swanseb";
}

.logo {
  height: 120px;
}

i:before {
  margin-left: 0px !important;
}

button:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.m0 {
  margin: 0px;
}

.p0 {
  padding-left: 0px;
  padding-right: 0px;
}

.p_100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.p_115 {
  padding-top: 115px;
  padding-bottom: 115px;
}

.pad_top {
  padding-top: 100px;
}

.pad_btm {
  padding-bottom: 100px;
}

.p-170 {
  padding-top: 170px;
  padding-bottom: 170px;
}

.pt-174 {
  padding-top: 170px;
}

.pb-174 {
  padding-bottom: 170px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1136px;
  }
}

.body_wrapper {
  position: relative;
  background: #fff;
  z-index: 30;
  overflow: hidden;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.media .media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #f4c02f;
}

::-moz-selection {
  background-color: #f4c02f;
  color: #fff;
}

::selection {
  background-color: #f4c02f;
  color: #fff;
}

-webkit-::-moz-selection {
  background-color: #f4c02f;
  color: #fff;
}

-webkit-::selection {
  background-color: #f4c02f;
  color: #fff;
}

::-moz-selection {
  background-color: #f4c02f;
  color: #fff;
}

.animated .char {
  -webkit-animation: fadeIn 1s cubic-bezier(0.5, 0, 0.5, 1) both;
  animation: fadeIn 1s cubic-bezier(0.5, 0, 0.5, 1) both;
  -webkit-animation-delay: calc(0.1s * var(--char-index));
  animation-delay: calc(0.1s * var(--char-index));
}

/* Main Title Area css
============================================================================================ */
.main_title {
  margin-bottom: 30px;
}

.main_title h2 {
  color: #000;
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 0px;
}

.main_title h2 .color {
  color: #f4c02f;
}

.main_title h2.animated .char {
  -webkit-animation: fadeIn 1s cubic-bezier(0.5, 0, 0.5, 1) both;
  animation: fadeIn 1s cubic-bezier(0.5, 0, 0.5, 1) both;
  -webkit-animation-delay: calc(0.1s * var(--char-index));
  animation-delay: calc(0.1s * var(--char-index));
}

.main_title p {
  margin-bottom: 0px;
}

.main_title h5 {
  font-size: 20px;
  line-height: 26px;
  color: #000;
  font-family: "swanse";
  margin-bottom: 10px;
}

/* End Main Title Area css
============================================================================================ */
/* Preloader Area css
============================================================================================ */
/* Proloader css
============================================================================================ */
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #a3cc01;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* End Preloader Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Button Area css
============================================================================================ */
.arrow_btn {
  font: 16px "swanse";
  color: #f4c02f;
  display: inline-block;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.arrow_btn i {
  font-size: 18px;
  position: relative;
  top: 2px;
  margin-left: 5px;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.arrow_btn:hover {
  color: #000;
}

.logo {
  height: 100px;
}

.arrow_btn:hover i {
  margin-left: 0px;
}

.arrow_btn.dark {
  color: #000;
}

.submit_btn {
  background: #f4c02f;
  line-height: 50px;
  border-radius: 0px;
  text-align: center;
  padding: 0px 43px;
  color: #000;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding-top: 3px;
  font-size: 13px;
  font-family: "swanse";
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.submit_btn:hover {
  background: #000;
  color: #fff;
}

/* End Button Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Header Area css
============================================================================================ */
.header_area {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
}

.header_area.navbar_fixed .main_menu {
  position: fixed !important;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.08);
  z-index: 999;
}

.header_area.navbar_fixed .main_menu .navbar .navbar-brand {
  display: inline-block;
}

.header_area.navbar_fixed .main_menu .navbar .navbar-brand img {
  display: none;
}

.header_area.navbar_fixed .main_menu .navbar .navbar-brand img + img {
  display: inline-block;
}

.header_area.navbar_fixed .main_menu .navbar .number {
  display: none;
}

.header_area.navbar_fixed .main_menu .navbar .nav.navbar-nav > li > a {
  line-height: 70px;
  color: #000;
}

.header_area.navbar_fixed .main_menu .navbar .nav.navbar-nav > li:hover > a,
.header_area.navbar_fixed .main_menu .navbar .nav.navbar-nav > li.active > a {
  color: #f4c02f;
}

.header_area.navbar_fixed.menu_dark .main_menu .extra_logo {
  display: none;
}

.header_area.navbar_fixed.menu_dark .main_menu .navbar .navbar-brand {
  display: inline-block;
}

.header_area.navbar_fixed.menu_dark .main_menu .navbar .navbar-brand img {
  display: inline-block;
}

.header_area.navbar_fixed.menu_dark .main_menu .navbar .number {
  display: none;
}

.home_logo {
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0);
  height: 56.5vmin;
  z-index: 40;
  width: 24.4vmin;
  text-align: center;
}

.home_logo img {
  margin-top: 5vmin;
}

.home_logo .slide-number {
  margin-top: 15vmin;
}

.home_logo .slide-number .current-number {
  color: #f4c02f !important;
  font: 7.6vmin "swanseb";
}

.home_logo .slide-number sup {
  color: #000;
  font: 18px "swanse";
  vertical-align: top;
}

.home_logo .nav {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 25px;
  left: 0px;
  width: 100%;
}

.home_logo .nav li {
  margin-right: 30px;
}

.home_logo .nav li a {
  font-size: 1.5vmin;
  color: #000;
  font-family: "swanseb";
}

.home_logo .nav li:last-child {
  margin-right: 0px;
}

.home_logo .nav li.active a {
  color: #f4c02f;
}

.main_menu .navbar {
  padding: 0px;
  background-color: transparent !important;
}

.main_menu .navbar .navbar-brand {
  display: none;
}

.main_menu .navbar .navbar-brand img {
  display: inline-block;
}

.main_menu .navbar .navbar-brand img + img {
  display: none;
}

.main_menu .navbar .number {
  color: #fff;
  font: 16px "swanse";
  white-space: nowrap;
}

.main_menu .navbar .nav.navbar-nav {
  padding-left: 40px;
}

.main_menu .navbar .nav.navbar-nav li {
  margin-right: 32px;
}

.main_menu .navbar .nav.navbar-nav li a {
  color: #fff;
  font-family: "swanse";
  position: relative;
  font: 16px/138px "swanse";
  position: relative;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.main_menu .navbar .nav.navbar-nav li a:after {
  display: none;
}

.main_menu .navbar .nav.navbar-nav li .mobile_dropdown {
  display: none;
  cursor: pointer;
}

.main_menu .navbar .nav.navbar-nav li:last-child {
  margin-right: 0px;
}

@media (min-width: 992px) {
  .main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -40px;
    min-width: 256px;
    border: 1px solid #efefef;
    background: #fff;
    margin: 0px;
    text-align: left;
    opacity: 0;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    padding: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.15);
  }
}

.main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu li {
  margin-right: 0px;
  display: block;
}

.main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu li a {
  display: block;
  line-height: 49px;
  color: #828282;
  font-family: "swanse";
  font-size: 15px;
  padding: 0px 30px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-weight: 400;
  text-shadow: none;
  border-bottom: 1px solid #efefef;
  position: relative;
  padding-left: 25px;
  text-transform: capitalize;
}

.main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu li a:before {
  content: "";
  width: 0px;
  height: 1px;
  background: #f4c02f;
  position: absolute;
  left: 27px;
  top: 50%;
  -webkit-transform: none;
  transform: none;
  margin-top: -1px;
  opacity: 0;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu li a:after {
  display: none;
}

.main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu li:hover a {
  color: #f4c02f;
  padding-left: 50px;
}

.main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu li:hover a:before {
  opacity: 1;
  width: 12px;
}

.main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu li:last-child a {
  border-bottom: 0px;
}

@media (min-width: 992px) {
  .main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu .submenu .dropdown-menu {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 97%;
    right: auto;
    min-width: 200px;
    top: 0px;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    padding: 0px;
  }
}

.main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu .submenu .dropdown-menu li a {
  background: #fff;
  color: #000;
  padding: 0px 25px;
}

.main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu .submenu .dropdown-menu li a:before {
  display: none;
}

.main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu .submenu .dropdown-menu li:hover a {
  background: #f4c02f;
  color: #fff;
}

@media (min-width: 992px) {
  .main_menu .navbar .nav.navbar-nav li.submenu .dropdown-menu .submenu:hover.submenu .dropdown-menu {
    visibility: visible;
    left: 100%;
    opacity: 1;
  }
}

.main_menu .navbar .nav.navbar-nav li:hover a,
.main_menu .navbar .nav.navbar-nav li.active a {
  color: #f4c02f;
}

.main_menu .navbar .nav.navbar-nav li:hover a:before,
.main_menu .navbar .nav.navbar-nav li.active a:before {
  width: 23px;
}

@media (min-width: 992px) {
  .main_menu .navbar .nav.navbar-nav li:hover.submenu a:after {
    opacity: 1;
    z-index: 9999;
  }
  .main_menu .navbar .nav.navbar-nav li:hover.submenu .dropdown-menu {
    left: -26px;
    visibility: visible;
    opacity: 1;
  }
}

.main_menu .navbar .nav.navbar-nav.navbar-right {
  position: relative;
}

.main_menu .navbar .nav.navbar-nav.navbar-right:before {
  content: "";
  height: 20px;
  width: 1px;
  position: absolute;
  left: 20px;
  top: 49%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #919191;
}

.main_menu .navbar .nav.navbar-nav.navbar-right li a {
  line-height: normal;
  color: #000;
}

.main_menu .navbar .nav.navbar-nav.navbar-right li a:before {
  display: none;
}

.main_menu .navbar .nav.navbar-nav.navbar-right li.request_btn a {
  background: #bd2433;
  line-height: 60px;
  display: inline-block;
  padding: 0px 34px 0px 16px;
  font-size: 17px;
  font-weight: 600;
  font-family: "swanse";
  letter-spacing: 0.51px;
  position: relative;
}

.main_menu .navbar .nav.navbar-nav.navbar-right li.request_btn a:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 60px 40px;
  border-color: transparent transparent #bd2433 transparent;
  position: absolute;
  left: -40px;
  top: 0px;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  display: block;
}

.menu_dark .extra_logo {
  position: absolute;
  left: 125px;
  top: 35px;
}

.menu_dark .main_menu .navbar .number {
  color: #000;
}

.menu_dark .main_menu .navbar .nav.navbar-nav > li > a {
  color: #000;
}

.menu_dark .main_menu .navbar .nav.navbar-nav > li:hover a,
.menu_dark .main_menu .navbar .nav.navbar-nav > li.active a {
  color: #f4c02f;
}

.menu_dark + row,
.menu_dark + div,
.menu_dark + section {
  margin-top: 138px;
}

/* End Header Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Home Slider Area css
============================================================================================ */
.main_slider_area ul li .slider_text_box .tag_text {
  color: #fff;
  font-family: "swanse";
}

.main_slider_area ul li .slider_text_box .first_text {
  color: #fff;
  font-family: "swanseb";
}

.main_slider_area ul li .slider_text_box .first_text span {
  color: #f4c02f;
}

.main_slider_area ul li .slider_text_box .secand_text {
  color: #fff;
  font-family: "swanse";
}

.main_slider_area ul li .slider_text_box .br_s_text .br_s {
  width: 46px;
  height: 1px;
  background: #fff;
  display: inline-block;
}

.main_slider_area ul li .slider_text_box .slider_button .arrow_btn {
  color: #fff;
  font: 20px "swanseb";
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.main_slider_area ul li .slider_text_box .slider_button .arrow_btn i {
  font-size: 18px;
  margin-left: 6px;
}

.main_slider_area ul li .slider_text_box .slider_button .arrow_btn:hover {
  color: #f4c02f;
}

.main_slider_area ul li .slider_text_box .slider_button .arrow_btn:hover i {
  margin-left: 3px;
}

.main_slider_area .rev_slider .tp-bullets .tp-bullet {
  width: 20px;
  height: 4px;
  background: #fff;
  opacity: 1;
}

.main_slider_area .rev_slider .tp-bullets .tp-bullet.selected {
  background: #f4c02f;
}

@media (min-width: 1300px) {
  .main_slider_area .rev_slider .tp-bullets {
    max-width: 1106px !important;
    margin: auto !important;
    width: 100% !important;
    left: 50% !important;
    -webkit-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
    bottom: 130px;
  }
  .main_slider_area .rev_slider .tp-bullets .tp-bullet {
    width: 20px;
    height: 4px;
    background: #fff;
    opacity: 1;
  }
  .main_slider_area .rev_slider .tp-bullets .tp-bullet.selected {
    background: #f4c02f;
  }
}

/* End Home Slider Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Who We Area css
============================================================================================ */
.who_we_area .col-lg-7 {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.who_we_text p {
  max-width: 492px;
  margin-bottom: 20px;
}

.who_we_text .arrow_btn {
  margin-bottom: 50px;
}

.who_we_text h5 {
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 15px;
}

.who_we_text h6 {
  font: 16px/24px "swanse";
  color: #787878;
  margin-bottom: 20px;
}

.who_we_img {
  text-align: right;
}

/* End Who We Area css
============================================================================================ */
/* Specialization Area css
============================================================================================ */
.specialization_area .col-lg-6 {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.spec_text .main_title {
  margin-bottom: 60px;
}

.spec_list .col-lg-6 {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.spec_list h4 {
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 25px;
}

.spec_list .nav li {
  margin-bottom: 5px;
}

.spec_list .nav li a {
  font: 16px/26px "swanse";
  color: #787878;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.spec_list .nav li a span {
  display: inline-block;
  width: 10px;
}

.spec_list .nav li a span + span {
  display: none;
}

.spec_list .nav li:hover a {
  color: #f4c02f;
}

.spec_list .nav li:hover a span {
  display: none;
}

.spec_list .nav li:hover a span + span {
  display: inline-block;
}

.spec_list .nav li:last-child {
  margin-bottom: 0px;
}

/* End Specialization Area css
============================================================================================ */
/* Latest Project Area css
============================================================================================ */
.latest_project_area {
  overflow: hidden;
}

.latest_project_area .main_title {
  margin-bottom: 70px;
}

.latest_project_area .left {
  width: calc(50% - 553px);
  float: left;
}

.latest_project_area .right {
  width: calc(50% + 553px);
  overflow: hidden;
  float: right;
}

.latest_project_area .right .latest_slider {
  margin-left: -326px;
}

.latest_project_area .right .latest_slider .item {
  margin: 0px 27px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.latest_project_area .right .latest_slider .item img {
  width: 100%;
  margin-bottom: 30px;
}

.l_project_item .left_text h6 {
  font: 16px/26px "swanse";
  color: #787878;
  margin-bottom: 8px;
}

.l_project_item .left_text h4 {
  color: #000;
  font-size: 29px;
  margin-bottom: 0px;
}

.l_project_item .right_text h4 {
  font-size: 16px;
  color: #787878;
  margin-top: 24px;
  margin-bottom: 0px;
}

.l_project_item .right_text h4 span {
  color: #000;
}

/* End Latest Project Area css
============================================================================================ */
/* About Image Area css
============================================================================================ */
.about_img_area {
  padding-top: 50px;
}

.about_img_area .main_title {
  margin-bottom: 75px;
}

.about_img_area .main_title h2 {
  line-height: 69px;
}

/* End About Image Area css
============================================================================================ */
/* Experience Area css
============================================================================================ */
.experience_design_area {
  background: url(../images/design-bg.png) no-repeat scroll center center;
  background-size: cover;
}

.experience_design_area .exp_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.experience_design_area .exp_title .d-flex {
  padding-right: 12px;
}

.experience_design_area .exp_title .d-flex h3 {
  color: #f4c02f;
  font-size: 112px;
  line-height: 70px;
  margin-bottom: 0px;
  margin-top: 17px;
}

.experience_design_area .exp_title .media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.experience_design_area .exp_title .media-body h5 {
  color: #000;
  margin-bottom: 0px;
}

.experience_design_area .exp_text .d-flex {
  padding-right: 20px;
}

.experience_design_area .exp_text .d-flex i {
  font-size: 150px;
  color: #f4c02f;
  font-style: normal;
  font-family: "swanse";
  line-height: 100px;
  margin-top: 24px;
}

.experience_design_area .exp_text .media-body p {
  font: 20px/35px "swanse";
  color: #000;
  max-width: 400px;
  margin-bottom: 35px;
}

.exp_design_text h2 {
  color: #000;
  font: 35px/42px "swanseb";
  margin-bottom: 40px;
}

.exp_design_text h2 span {
  color: #f4c02f;
}

.exp_design_text p {
  font-size: 26px;
  line-height: 52px;
  margin-bottom: -15px;
}

/* End Experience Area css
============================================================================================ */
/* Feature Area css
============================================================================================ */
.feature_item img {
  margin-bottom: 30px;
}

.feature_item h4 {
  color: #000;
  font-size: 20px;
  margin-bottom: 15px;
}

.feature_item p {
  margin-bottom: 0px;
  max-width: 285px;
}

/* End Feature Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Testimonials Slider Area css
============================================================================================ */
.testimonials_area {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 0px;
  left: 0px;
}

.testi_slider {
  max-width: 408px;
}

.testi_slider .testi_item img {
  margin-bottom: 40px;
}

.testi_slider .testi_item h4 {
  color: #000;
  font-size: 20px;
  margin-bottom: 10px;
}

.testi_slider .testi_item h5 {
  color: #000;
  font: 16px "swanse";
  margin-bottom: 30px;
}

.testi_slider .testi_item h5 a {
  color: #f4c02f;
}

.testi_inner .col-lg-6 {
  background: #fff;
}

.testi_inner .testi_slider {
  background: #fff;
  padding-top: 70px;
}

.testi_inner .testi_slider_box {
  max-width: 538px;
  width: 100%;
  float: right;
}

.testi_inner .navigation {
  margin-top: 40px;
  padding-bottom: 110px;
}

.testi_inner .navigation .slick-arrow {
  display: inline-block;
  cursor: pointer;
}

.testi_inner .navigation .slick-arrow i {
  font-size: 18px;
  color: #000;
}

.testi_inner .navigation .next {
  margin-left: 18px;
}

.video_big_image {
  margin-top: 200px;
  position: relative;
}

/* End Testimonials Slider Area css
============================================================================================ */
/* Text Testimonials Area css
============================================================================================ */
.testi_text {
  text-align: center;
  padding-top: 120px;
}

.testi_text .nav {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 115px;
}

.testi_text .nav li {
  color: #000;
  font: 16px "swanseb";
  margin-left: 20px;
}

.testi_text .nav li:first-child {
  position: relative;
  top: 5px;
}

.testi_text .nav li a {
  color: #adadad;
  font-size: 24px;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.testi_text .nav li a:hover {
  color: #f4c02f;
}

.testi_text_slider .item {
  border: none;
  outline: none;
}

.testi_text_slider .item p {
  color: #000;
  font: 25px/50px "swanse";
  margin-bottom: 25px;
}

.testi_text_slider .item h4 {
  color: #adadad;
  font-size: 16px;
}

.testi_text_slider .item h4 span {
  color: #000;
}

/* End Text Testimonials Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Video Area css
============================================================================================ */
.video_area {
  margin-top: -403px;
}

.video_area .video_inner .video_item {
  position: relative;
  margin-left: -14px;
}

.video_area .video_inner .video_item .video {
  position: absolute;
  left: 0px;
  width: 100%;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* End Video Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Client Logo Area css
============================================================================================ */
.client_logo_area .row {
  margin-bottom: -115px;
}

.client_logo_area.p_top {
  padding-top: 220px;
}

.client_logo_item {
  line-height: 80px;
  text-align: center;
  margin-bottom: 115px;
}

.client_logo_item img {
  line-height: 80px;
  display: inline-block;
  margin: auto;
}

.client_logo_two {
  padding-top: 170px;
  padding-bottom: 140px;
}

.client_logo_two .client_logo_item img {
  opacity: 0.5;
}

/* End Client Logo Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Our Team Area css
============================================================================================ */
.our_team_area .main_title {
  margin-bottom: 90px;
}
.our_team_area {
  padding-bottom: 50;
}
.our_team_area .team_inner {
  margin-bottom: -30px;
  display: flex;
  justify-content: center;
}

.team_item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.team_item .team_img,
.team_item .team_text {
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.team_item .team_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 28px 28px 28px;
  background: #f4c02f;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 0;
}

.team_item .team_text h3 {
  color: #000;
  font-size: 20px;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.team_item .team_text h5 {
  color: #787878;
  font: 16px "swanse";
  margin-bottom: 0px;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  opacity: 0;
}

.team_item .team_text .nav {
  position: absolute;
  left: 28px;
  bottom: 28px;
}

.team_item .team_text .nav li {
  margin-right: 20px;
  opacity: 0;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.team_item .team_text .nav li:nth-child(1) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

.team_item .team_text .nav li:nth-child(2) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}

.team_item .team_text .nav li:nth-child(3) {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}

.team_item .team_text .nav li:nth-child(4) {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}

.team_item .team_text .nav li:nth-child(5) {
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
}

.team_item .team_text .nav li:nth-child(6) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}

.team_item .team_text .nav li:nth-child(7) {
  -webkit-transition-delay: 700ms;
  transition-delay: 700ms;
}

.team_item .team_text .nav li:nth-child(8) {
  -webkit-transition-delay: 800ms;
  transition-delay: 800ms;
}

.team_item .team_text .nav li:nth-child(9) {
  -webkit-transition-delay: 900ms;
  transition-delay: 900ms;
}

.team_item .team_text .nav li:nth-child(10) {
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
}

.team_item .team_text .nav li:nth-child(11) {
  -webkit-transition-delay: 1100ms;
  transition-delay: 1100ms;
}

.team_item .team_text .nav li:nth-child(12) {
  -webkit-transition-delay: 1200ms;
  transition-delay: 1200ms;
}

.team_item .team_text .nav li:nth-child(13) {
  -webkit-transition-delay: 1300ms;
  transition-delay: 1300ms;
}

.team_item .team_text .nav li:nth-child(14) {
  -webkit-transition-delay: 1400ms;
  transition-delay: 1400ms;
}

.team_item .team_text .nav li:nth-child(15) {
  -webkit-transition-delay: 1500ms;
  transition-delay: 1500ms;
}

.team_item .team_text .nav li:nth-child(16) {
  -webkit-transition-delay: 1600ms;
  transition-delay: 1600ms;
}

.team_item .team_text .nav li:nth-child(17) {
  -webkit-transition-delay: 1700ms;
  transition-delay: 1700ms;
}

.team_item .team_text .nav li:nth-child(18) {
  -webkit-transition-delay: 1800ms;
  transition-delay: 1800ms;
}

.team_item .team_text .nav li:nth-child(19) {
  -webkit-transition-delay: 1900ms;
  transition-delay: 1900ms;
}

.team_item .team_text .nav li:nth-child(20) {
  -webkit-transition-delay: 2000ms;
  transition-delay: 2000ms;
}

.team_item .team_text .nav li:nth-child(21) {
  -webkit-transition-delay: 2100ms;
  transition-delay: 2100ms;
}

.team_item .team_text .nav li:nth-child(22) {
  -webkit-transition-delay: 2200ms;
  transition-delay: 2200ms;
}

.team_item .team_text .nav li:nth-child(23) {
  -webkit-transition-delay: 2300ms;
  transition-delay: 2300ms;
}

.team_item .team_text .nav li:nth-child(24) {
  -webkit-transition-delay: 2400ms;
  transition-delay: 2400ms;
}

.team_item .team_text .nav li:nth-child(25) {
  -webkit-transition-delay: 2500ms;
  transition-delay: 2500ms;
}

.team_item .team_text .nav li:nth-child(26) {
  -webkit-transition-delay: 2600ms;
  transition-delay: 2600ms;
}

.team_item .team_text .nav li:nth-child(27) {
  -webkit-transition-delay: 2700ms;
  transition-delay: 2700ms;
}

.team_item .team_text .nav li:nth-child(28) {
  -webkit-transition-delay: 2800ms;
  transition-delay: 2800ms;
}

.team_item .team_text .nav li:nth-child(29) {
  -webkit-transition-delay: 2900ms;
  transition-delay: 2900ms;
}

.team_item .team_text .nav li:nth-child(30) {
  -webkit-transition-delay: 3000ms;
  transition-delay: 3000ms;
}

.team_item .team_text .nav li:nth-child(31) {
  -webkit-transition-delay: 3100ms;
  transition-delay: 3100ms;
}

.team_item .team_text .nav li:nth-child(32) {
  -webkit-transition-delay: 3200ms;
  transition-delay: 3200ms;
}

.team_item .team_text .nav li:nth-child(33) {
  -webkit-transition-delay: 3300ms;
  transition-delay: 3300ms;
}

.team_item .team_text .nav li:nth-child(34) {
  -webkit-transition-delay: 3400ms;
  transition-delay: 3400ms;
}

.team_item .team_text .nav li:nth-child(35) {
  -webkit-transition-delay: 3500ms;
  transition-delay: 3500ms;
}

.team_item .team_text .nav li:nth-child(36) {
  -webkit-transition-delay: 3600ms;
  transition-delay: 3600ms;
}

.team_item .team_text .nav li:nth-child(37) {
  -webkit-transition-delay: 3700ms;
  transition-delay: 3700ms;
}

.team_item .team_text .nav li:nth-child(38) {
  -webkit-transition-delay: 3800ms;
  transition-delay: 3800ms;
}

.team_item .team_text .nav li:nth-child(39) {
  -webkit-transition-delay: 3900ms;
  transition-delay: 3900ms;
}

.team_item .team_text .nav li:nth-child(40) {
  -webkit-transition-delay: 4000ms;
  transition-delay: 4000ms;
}

.team_item .team_text .nav li:nth-child(41) {
  -webkit-transition-delay: 4100ms;
  transition-delay: 4100ms;
}

.team_item .team_text .nav li:nth-child(42) {
  -webkit-transition-delay: 4200ms;
  transition-delay: 4200ms;
}

.team_item .team_text .nav li:nth-child(43) {
  -webkit-transition-delay: 4300ms;
  transition-delay: 4300ms;
}

.team_item .team_text .nav li:nth-child(44) {
  -webkit-transition-delay: 4400ms;
  transition-delay: 4400ms;
}

.team_item .team_text .nav li:nth-child(45) {
  -webkit-transition-delay: 4500ms;
  transition-delay: 4500ms;
}

.team_item .team_text .nav li:nth-child(46) {
  -webkit-transition-delay: 4600ms;
  transition-delay: 4600ms;
}

.team_item .team_text .nav li:nth-child(47) {
  -webkit-transition-delay: 4700ms;
  transition-delay: 4700ms;
}

.team_item .team_text .nav li:nth-child(48) {
  -webkit-transition-delay: 4800ms;
  transition-delay: 4800ms;
}

.team_item .team_text .nav li:nth-child(49) {
  -webkit-transition-delay: 4900ms;
  transition-delay: 4900ms;
}

.team_item .team_text .nav li:nth-child(50) {
  -webkit-transition-delay: 5000ms;
  transition-delay: 5000ms;
}

.team_item .team_text .nav li:nth-child(51) {
  -webkit-transition-delay: 5100ms;
  transition-delay: 5100ms;
}

.team_item .team_text .nav li:nth-child(52) {
  -webkit-transition-delay: 5200ms;
  transition-delay: 5200ms;
}

.team_item .team_text .nav li:nth-child(53) {
  -webkit-transition-delay: 5300ms;
  transition-delay: 5300ms;
}

.team_item .team_text .nav li:nth-child(54) {
  -webkit-transition-delay: 5400ms;
  transition-delay: 5400ms;
}

.team_item .team_text .nav li:nth-child(55) {
  -webkit-transition-delay: 5500ms;
  transition-delay: 5500ms;
}

.team_item .team_text .nav li:nth-child(56) {
  -webkit-transition-delay: 5600ms;
  transition-delay: 5600ms;
}

.team_item .team_text .nav li:nth-child(57) {
  -webkit-transition-delay: 5700ms;
  transition-delay: 5700ms;
}

.team_item .team_text .nav li:nth-child(58) {
  -webkit-transition-delay: 5800ms;
  transition-delay: 5800ms;
}

.team_item .team_text .nav li:nth-child(59) {
  -webkit-transition-delay: 5900ms;
  transition-delay: 5900ms;
}

.team_item .team_text .nav li:nth-child(60) {
  -webkit-transition-delay: 6000ms;
  transition-delay: 6000ms;
}

.team_item .team_text .nav li:nth-child(61) {
  -webkit-transition-delay: 6100ms;
  transition-delay: 6100ms;
}

.team_item .team_text .nav li:nth-child(62) {
  -webkit-transition-delay: 6200ms;
  transition-delay: 6200ms;
}

.team_item .team_text .nav li:nth-child(63) {
  -webkit-transition-delay: 6300ms;
  transition-delay: 6300ms;
}

.team_item .team_text .nav li:nth-child(64) {
  -webkit-transition-delay: 6400ms;
  transition-delay: 6400ms;
}

.team_item .team_text .nav li:nth-child(65) {
  -webkit-transition-delay: 6500ms;
  transition-delay: 6500ms;
}

.team_item .team_text .nav li:nth-child(66) {
  -webkit-transition-delay: 6600ms;
  transition-delay: 6600ms;
}

.team_item .team_text .nav li:nth-child(67) {
  -webkit-transition-delay: 6700ms;
  transition-delay: 6700ms;
}

.team_item .team_text .nav li:nth-child(68) {
  -webkit-transition-delay: 6800ms;
  transition-delay: 6800ms;
}

.team_item .team_text .nav li:nth-child(69) {
  -webkit-transition-delay: 6900ms;
  transition-delay: 6900ms;
}

.team_item .team_text .nav li:nth-child(70) {
  -webkit-transition-delay: 7000ms;
  transition-delay: 7000ms;
}

.team_item .team_text .nav li:nth-child(71) {
  -webkit-transition-delay: 7100ms;
  transition-delay: 7100ms;
}

.team_item .team_text .nav li:nth-child(72) {
  -webkit-transition-delay: 7200ms;
  transition-delay: 7200ms;
}

.team_item .team_text .nav li:nth-child(73) {
  -webkit-transition-delay: 7300ms;
  transition-delay: 7300ms;
}

.team_item .team_text .nav li:nth-child(74) {
  -webkit-transition-delay: 7400ms;
  transition-delay: 7400ms;
}

.team_item .team_text .nav li:nth-child(75) {
  -webkit-transition-delay: 7500ms;
  transition-delay: 7500ms;
}

.team_item .team_text .nav li:nth-child(76) {
  -webkit-transition-delay: 7600ms;
  transition-delay: 7600ms;
}

.team_item .team_text .nav li:nth-child(77) {
  -webkit-transition-delay: 7700ms;
  transition-delay: 7700ms;
}

.team_item .team_text .nav li:nth-child(78) {
  -webkit-transition-delay: 7800ms;
  transition-delay: 7800ms;
}

.team_item .team_text .nav li:nth-child(79) {
  -webkit-transition-delay: 7900ms;
  transition-delay: 7900ms;
}

.team_item .team_text .nav li:nth-child(80) {
  -webkit-transition-delay: 8000ms;
  transition-delay: 8000ms;
}

.team_item .team_text .nav li:nth-child(81) {
  -webkit-transition-delay: 8100ms;
  transition-delay: 8100ms;
}

.team_item .team_text .nav li:nth-child(82) {
  -webkit-transition-delay: 8200ms;
  transition-delay: 8200ms;
}

.team_item .team_text .nav li:nth-child(83) {
  -webkit-transition-delay: 8300ms;
  transition-delay: 8300ms;
}

.team_item .team_text .nav li:nth-child(84) {
  -webkit-transition-delay: 8400ms;
  transition-delay: 8400ms;
}

.team_item .team_text .nav li:nth-child(85) {
  -webkit-transition-delay: 8500ms;
  transition-delay: 8500ms;
}

.team_item .team_text .nav li:nth-child(86) {
  -webkit-transition-delay: 8600ms;
  transition-delay: 8600ms;
}

.team_item .team_text .nav li:nth-child(87) {
  -webkit-transition-delay: 8700ms;
  transition-delay: 8700ms;
}

.team_item .team_text .nav li:nth-child(88) {
  -webkit-transition-delay: 8800ms;
  transition-delay: 8800ms;
}

.team_item .team_text .nav li:nth-child(89) {
  -webkit-transition-delay: 8900ms;
  transition-delay: 8900ms;
}

.team_item .team_text .nav li:nth-child(90) {
  -webkit-transition-delay: 9000ms;
  transition-delay: 9000ms;
}

.team_item .team_text .nav li:nth-child(91) {
  -webkit-transition-delay: 9100ms;
  transition-delay: 9100ms;
}

.team_item .team_text .nav li:nth-child(92) {
  -webkit-transition-delay: 9200ms;
  transition-delay: 9200ms;
}

.team_item .team_text .nav li:nth-child(93) {
  -webkit-transition-delay: 9300ms;
  transition-delay: 9300ms;
}

.team_item .team_text .nav li:nth-child(94) {
  -webkit-transition-delay: 9400ms;
  transition-delay: 9400ms;
}

.team_item .team_text .nav li:nth-child(95) {
  -webkit-transition-delay: 9500ms;
  transition-delay: 9500ms;
}

.team_item .team_text .nav li:nth-child(96) {
  -webkit-transition-delay: 9600ms;
  transition-delay: 9600ms;
}

.team_item .team_text .nav li:nth-child(97) {
  -webkit-transition-delay: 9700ms;
  transition-delay: 9700ms;
}

.team_item .team_text .nav li:nth-child(98) {
  -webkit-transition-delay: 9800ms;
  transition-delay: 9800ms;
}

.team_item .team_text .nav li:nth-child(99) {
  -webkit-transition-delay: 9900ms;
  transition-delay: 9900ms;
}

.team_item .team_text .nav li:nth-child(100) {
  -webkit-transition-delay: 10000ms;
  transition-delay: 10000ms;
}

.team_item .team_text .nav li a {
  color: #000;
  font-size: 24px;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.team_item .team_text .nav li a:hover {
  color: #fff;
}

.team_item:hover .team_text {
  opacity: 1;
}

.team_item:hover .team_text h3 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.team_item:hover .team_text h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.team_item:hover .team_text .nav li {
  opacity: 1;
}

/* End Our Team Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Portfolio Area css
============================================================================================ */
.portfolio_inner {
  margin-bottom: -30px;
}

.g_fillter {
  margin-bottom: 40px;
}

.g_fillter .nav li {
  margin-right: 40px;
}

.g_fillter .nav li:last-child {
  margin-right: 0px;
}

.g_fillter .nav li a {
  color: #000;
  font: 16px "swanse";
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.g_fillter .nav li:hover a,
.g_fillter .nav li.active a {
  color: #f4c02f;
}

.portfolio_item {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}

.portfolio_item .portfolio_img img {
  width: 100%;
}

.portfolio_item .portfolio_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f4c02f;
  padding: 55px 42px 35px 42px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.portfolio_item .portfolio_text h4 {
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.portfolio_item .portfolio_text p {
  color: #474747;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.portfolio_item .portfolio_text .arrow_btn {
  position: absolute;
  left: 42px;
  bottom: 35px;
}

.portfolio_item:hover .portfolio_text {
  opacity: 1;
}

.portfolio_item:hover .portfolio_text h4 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.portfolio_item:hover .portfolio_text p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.portfolio_item.white .portfolio_text {
  background: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.portfolio_item.white .portfolio_text:before,
.portfolio_item.white .portfolio_text:after {
  content: "";
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.portfolio_item.white .portfolio_text:before {
  top: 0;
  left: 0;
}

.portfolio_item.white .portfolio_text:after {
  bottom: 0;
  right: 0;
}

.portfolio_item.white .portfolio_text h5 {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.portfolio_item.white .portfolio_text h4 {
  font-size: 29px;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.portfolio_item.white .portfolio_text p {
  max-width: 450px;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.portfolio_item.white:hover .portfolio_text {
  opacity: 1;
}

.portfolio_item.white:hover .portfolio_text:before {
  border-top-color: #f4c02f;
  border-right-color: #f4c02f;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  width: 100%;
  height: 100%;
}

.portfolio_item.white:hover .portfolio_text:after {
  border-bottom-color: #f4c02f;
  border-left-color: #f4c02f;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  width: 100%;
  height: 100%;
}

.portfolio_item.white:hover .portfolio_text h6 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.portfolio_item.white:hover .portfolio_text h4 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.portfolio_item.white:hover .portfolio_text p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.light_btn {
  height: 61px;
  width: 61px;
  color: #000;
  text-align: center;
  background: #f4c02f;
  display: inline-block;
  font-size: 24px;
  line-height: 65px;
  position: absolute;
  right: 22px;
  bottom: 30px;
}

.light_btn:hover {
  color: #000;
}

.portfolio_full .portfolio_inner_full {
  padding-left: 63px;
  padding-right: 63px;
}

.portfolio_full .portfolio_inner_full .portfolio_item .portfolio_img img {
  width: 100%;
}

.portfolio_full .portfolio_inner_full .portfolio_item .portfolio_text p {
  max-width: 265px;
}

.portfolio_masonry .main_title {
  margin-bottom: 170px;
  position: relative;
}

.portfolio_masonry .main_title .br {
  width: 49px;
  height: 1px;
  background: #767676;
  display: inline-block;
  position: absolute;
  left: -90px;
  top: 8px;
}

.portfolio_masonry .custom {
  display: flex;
  justify-content: center;
}
.portfolio_masonry .arrow_btn {
  align-items: center;
  padding-top: 50px;
}
/* End Portfolio Area css
============================================================================================ */
/* Portfolio Grid Area css
============================================================================================ */
.portfolio_grid_area {
  padding-left: 64px;
  padding-right: 64px;
}

.portfolio_grid_area .portfolio_grid_inner {
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: -65px;
}

.portfolio_grid_area .portfolio_grid_inner .col-lg-6 {
  padding-left: 16px;
  padding-right: 16px;
}

.portfolio_grid_item {
  overflow: hidden;
  margin-bottom: 65px;
  cursor: pointer;
}

.portfolio_grid_item .portfolio_img {
  overflow: hidden;
  position: relative;
}

.portfolio_grid_item .portfolio_img img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  width: 100%;
}

.portfolio_grid_item .portfolio_img .light_btn {
  opacity: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.portfolio_grid_item .portfolio_text {
  padding-top: 25px;
}

.portfolio_grid_item .portfolio_text h6 {
  color: #787878;
  font: 16px "swanse";
  margin-bottom: 12px;
}

.portfolio_grid_item .portfolio_text h4 {
  color: #000;
  font-size: 29px;
  margin-bottom: 0px;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.portfolio_grid_item .portfolio_text h4:hover {
  color: #f4c02f;
}

.portfolio_grid_item:hover .portfolio_img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.portfolio_grid_item:hover .portfolio_img .light_btn {
  opacity: 1;
}

/* End Portfolio Grid Area css
============================================================================================ */
/* Single Portfolio Area css
============================================================================================ */
.single_portfolio_area {
  padding-top: 20px;
}

.tag_line_inner {
  padding-bottom: 80px;
}

.tag_line_inner .col-lg-3:nth-child(2) .tag_line {
  margin-left: 30px;
}

.tag_line_inner .col-lg-3:nth-child(3) .tag_line {
  margin-left: 80px;
}

.tag_line_inner .col-lg-3:nth-child(4) .tag_line {
  margin-left: 100px;
}

.tag_line_inner .tag_line h4 {
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 8px;
}

.tag_line_inner .tag_line p {
  margin-bottom: 0px;
}

.single_p_text {
  padding-top: 120px;
  padding-bottom: 120px;
}

.single_p_text p {
  max-width: 678px;
  color: #000;
  font-size: 20px;
  line-height: 35px;
  margin: auto;
}

.single_p_img {
  position: relative;
}

.single_p_img .single_p_title {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.single_p_img .single_p_title h3 {
  color: #fff;
  font-size: 80px;
  line-height: 90px;
  margin-bottom: 0px;
}

.single_p_img .single_p_title h3 .color {
  color: #f4c02f;
}

.single_p_img .single_p_title h3.animated .char {
  -webkit-animation: fadeIn 1s cubic-bezier(0.5, 0, 0.5, 1) both;
  animation: fadeIn 1s cubic-bezier(0.5, 0, 0.5, 1) both;
  -webkit-animation-delay: calc(0.1s * var(--char-index));
  animation-delay: calc(0.1s * var(--char-index));
}

/* End Single Portfolio Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Latest News Area css
============================================================================================ */
.latest_news_area {
  padding-top: 200px;
  background: #fff;
  position: relative;
  z-index: 99;
}

.latest_news_area .main_title {
  margin-bottom: 75px;
}

.l_news_item {
  position: relative;
  cursor: pointer;
}

.l_news_item .flipbox_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 2px;
  padding-left: 36px;
  padding-right: 42px;
  padding-top: 40px;
  padding-bottom: 25px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.l_news_item .flipbox_text:before,
.l_news_item .flipbox_text:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  content: "";
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.l_news_item .flipbox_text:before {
  top: 0;
  left: 0;
}

.l_news_item .flipbox_text:after {
  bottom: 0;
  right: 0;
}

.l_news_item .flipbox_text h5 {
  font: 16px/26px "swanse";
  color: #787878;
  margin-bottom: 18px;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.l_news_item .flipbox_text h4 {
  color: #000;
  font-size: 20px;
  margin-bottom: 30px;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  opacity: 0;
}

.l_news_item .flipbox_text p {
  margin-bottom: 90px;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
}

.l_news_item:hover .flipbox_text {
  opacity: 1;
}

.l_news_item:hover .flipbox_text:before,
.l_news_item:hover .flipbox_text:after {
  width: 100%;
  height: 100%;
}

.l_news_item:hover .flipbox_text:before {
  border-top-color: #f4c02f;
  border-right-color: #f4c02f;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.l_news_item:hover .flipbox_text:after {
  border-bottom-color: #f4c02f;
  border-left-color: #f4c02f;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.l_news_item:hover .flipbox_text h5,
.l_news_item:hover .flipbox_text h4,
.l_news_item:hover .flipbox_text p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

/* End Latest News Area css
============================================================================================ */
/* Blog Banner css
============================================================================================ */
.blog_banner_title h2 {
  font-size: 52px;
}

/* End Blog Banner css
============================================================================================ */
/* Blog Grid area css
============================================================================================ */
.blog_grid_area {
  padding-bottom: 140px;
}

.blog_grid_area .l_news_item {
  margin-bottom: 30px;
}

/* End Blog Grid area css
============================================================================================ */
/* Blog List area css
============================================================================================ */
.blog_list_item {
  overflow: hidden;
}

.blog_list_item .l_news_img img {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  z-index: -1;
}

.blog_list_item .flipbox_text {
  max-width: 445px;
  right: 0;
  left: auto;
}

.blog_list_item:hover .l_news_img img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* End Blog List area css
============================================================================================ */
/* Blog banner area css
============================================================================================ */
.bg_img {
  height: 768px;
}

/* End Blog banner area css
============================================================================================ */
/* Blog single area css
============================================================================================ */
.blog_single_area {
  padding: 130px 0px;
}

.blog_single_title {
  font-size: 29px;
  line-height: 42px;
  font-family: "swanse";
  color: #000;
  margin-bottom: 75px;
}

.blog_single_title .color {
  color: #f4c02f;
}

.blog_single_title.animated .char {
  -webkit-animation: fadeIn 1s cubic-bezier(0.5, 0, 0.5, 1) both;
  animation: fadeIn 1s cubic-bezier(0.5, 0, 0.5, 1) both;
  -webkit-animation-delay: calc(0.1s * var(--char-index));
  animation-delay: calc(0.1s * var(--char-index));
}

.blog_details_info.p_right {
  padding-right: 89px;
}

.blog_details_info .post_date {
  font-size: 16px;
  line-height: 26px;
  color: #767676;
  margin-bottom: 55px;
}

.blog_details_info .post_date span {
  color: #000;
}

.blog_details_info p {
  color: #767676;
  margin-bottom: 28px;
}

.blog_details_info .single_img {
  padding: 63px 0px 80px;
}

.blog_details_info .single_img .col_image {
  margin-top: 30px;
}

.blog_details_info h3 {
  font-size: 20px;
  line-height: 42px;
  color: #000;
  font-family: "swanseb";
  margin-bottom: 40px;
}

.blog_details_info blockquote {
  padding-left: 100px;
  padding-right: 200px;
  position: relative;
  margin-top: 80px;
}

.blog_details_info blockquote:before {
  content: "“";
  font-family: "swanse";
  font-size: 150px;
  color: #f4c02f;
  line-height: 130px;
  position: absolute;
  left: 0;
}

.blog_details_info blockquote p {
  font-size: 20px;
  line-height: 35px;
  color: #000;
  margin-bottom: 20px;
}

.blog_details_info blockquote .author {
  font-size: 16px;
  color: #000;
  font-family: "swanseb";
}

.blog_details_info blockquote .postition {
  color: #767676;
  font-size: 16px;
}

.single_post_tag {
  font-size: 16px;
  font-family: "swanseb";
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

.single_post_tag .tag_links li {
  margin-left: 3px;
}

.single_post_tag .tag_links li a {
  color: #767676;
  font-family: "swanse";
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.single_post_tag .tag_links li a:hover {
  color: #f4c02f;
}

.post_share {
  font-size: 16px;
  font-family: "swanseb";
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px;
}

.post_share .share_link {
  color: #767676;
}

.post_share .share_link li {
  margin-left: 10px;
  margin-right: 10px;
}

.post_share .share_link li a {
  font-size: 24px;
  color: #adadad;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.post_share .share_link li a:hover {
  color: #f4c02f;
}

.content_box {
  max-width: 728px;
  margin: 0 auto;
}

/* Blog sidebar css
============================================================================================ */
.blog_sidebar {
  padding-left: 10px;
  margin-top: 115px;
}

.widget .widget_title {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}

.widget + .widget {
  margin-top: 55px;
}

.search_form .form-control {
  border: 1px solid transparent;
  border-radius: 0px;
  background: #f1f1f1;
  padding-left: 25px;
  height: 50px;
  font-size: 16px;
  line-height: 45px;
  color: #000;
  z-index: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.search_form .form-control.placeholder {
  color: #a7a7a7;
}

.search_form .form-control:-moz-placeholder {
  color: #a7a7a7;
}

.search_form .form-control::-moz-placeholder {
  color: #a7a7a7;
}

.search_form .form-control::-webkit-input-placeholder {
  color: #a7a7a7;
}

.search_form .form-control:focus {
  border-color: #f4c02f;
}

.search_form button {
  position: absolute;
  border: 0px;
  padding: 0;
  background: transparent;
  font-size: 18px;
  color: #767676;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 4;
}

.widget_related_post ul li .related_post_item img {
  margin-right: 20px;
}

.widget_related_post ul li .related_post_item .media-body h5 {
  font-size: 14px;
  line-height: 20px;
  color: #000;
  margin-bottom: 3px;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.widget_related_post ul li .related_post_item .media-body h5:hover {
  color: #f4c02f;
}

.widget_related_post ul li .related_post_item .media-body .post_date {
  font-size: 13px;
  line-height: 20px;
  color: #767676;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.widget_related_post ul li .related_post_item .media-body .post_date:hover {
  color: #f4c02f;
}

.widget_related_post ul li + li {
  margin-top: 20px;
}

.widget_categories ul li a {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 26px;
  color: #767676;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.widget_categories ul li a:hover {
  color: #f4c02f;
}

.widget_categories ul li + li {
  margin-top: 12px;
}

.widget_tag .nav li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.widget_tag .nav li a {
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  border: 1px solid #d3d3d3;
  padding: 5px 14px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  overflow: hidden;
  display: block;
  line-height: 16px;
}

.widget_tag .nav li a:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f4c02f;
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.widget_tag .nav li a:hover {
  border-color: #f4c02f;
}

.widget_tag .nav li a:hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

/* Blog comments css
============================================================================================ */
.blog_comments_area {
  background: #f8f8f8;
  padding: 150px 0px;
}

.blog_comments_area .comments_title {
  font-size: 29px;
  line-height: 42px;
  color: #000;
  font-family: "swanseb";
  margin-bottom: 50px;
}

.blog_comments_box {
  max-width: 728px;
}

.comment_box {
  padding-top: 20px;
  margin-bottom: 50px;
}

.comment_box .post_comment .comment_card {
  padding-bottom: 70px;
}

.comment_box .post_comment .comment_card img {
  margin-right: 35px;
}

.comment_box .post_comment .comment_card .media-body .comment_card_head {
  font-size: 16px;
  color: #000;
  font-family: "swanseb";
  margin-bottom: 16px;
}

.comment_box .post_comment .comment_card .media-body .comment_card_head a {
  color: #ababab;
  font-size: 13px;
  font-family: "swanse";
  text-transform: uppercase;
  margin-left: 12px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.comment_box .post_comment .comment_card .media-body .comment_card_head a:hover {
  color: #f4c02f;
}

.comment_box .post_comment .comment_card .media-body p {
  margin-bottom: 0;
}

.comment_box .post_comment .comment_card .media-body .comment_reply {
  font-size: 12px;
  line-height: 15px;
  border: 1px solid #d3d3d3;
  color: #000;
  text-transform: uppercase;
  padding: 6px 15px 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-top: 25px;
  display: inline-block;
}

.comment_box .post_comment .comment_card .media-body .comment_reply:hover {
  background: #f4c02f;
  border-color: #f4c02f;
}

.comment_box .post_comment .reply_comment {
  margin-left: 115px;
}

.blog_comments_info .contact_form .input-group input,
.blog_comments_info .contact_form .input-group textarea {
  padding-left: 25px;
}

/* End Blog single area css
============================================================================================ */
/* Start Blog banner area css
============================================================================================ */
.blog_banner_area {
  padding: 394px 0px 150px;
}

.blog_banner_area .main_title {
  margin-bottom: 0;
}

.blog_banner_area .main_title h5,
.blog_banner_area .main_title h2 {
  color: #fff;
}

.blog_banner_area .main_title h2 {
  font-size: 80px;
  line-height: 94px;
}

/* End Blog banner area css
============================================================================================ */
/* Start Blog related post area css
============================================================================================ */
.blog_related_post_area {
  border-top: 1px solid #a6a6a6;
  padding: 130px 0px 140px;
}

.blog_related_post_area .blog_single_title {
  font-family: "swanseb";
}

.blog_related_post_area .l_news_item {
  margin-top: 25px;
}

.blog_masonry_area .portfolio_grid_inner {
  margin-bottom: -65px;
}

/* End Blog related post area css
============================================================================================ */
.blog_masonry_area {
  padding-left: 64px;
  padding-right: 64px;
}

.blog_masonry_area .portfolio_grid_item {
  margin-bottom: 45px;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Contact Page Area css
============================================================================================ */
.mapBox {
  min-height: 768px;
}

.contact_page_area .main_title {
  margin-bottom: 55px;
}

.contact_page_area .main_title h2 {
  font-size: 29px;
  line-height: 42px;
}

.contact_details p {
  margin-bottom: 40px;
}

.contact_details h2 {
  font: 29px/42px "swanse";
  color: #000;
  margin-bottom: 45px;
}

.contact_details .nav li {
  margin-bottom: 25px;
}

.contact_details .nav li span {
  color: #000;
  font-family: "swanseb";
}

.contact_details .nav li a {
  font: 16px "swanse";
  color: #767676;
}

.contact_details .nav li a span {
  color: #000;
  font-family: "swanseb";
}

.contact_details .nav li:last-child {
  margin-bottom: 0px;
}

.contact_details .nav li:nth-child(3) a {
  font-size: 24px;
  margin-left: 16px;
  color: #adadad;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.contact_details .nav li:nth-child(3) a:hover {
  color: #f4c02f;
}

.contact_form .input-group {
  margin-bottom: 30px;
}

.contact_form .input-group input {
  border: 1px solid #c9c9c9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0px;
  height: 50px;
  padding: 3px 18px 0px 18px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font: 16px/50px "swanse";
  color: #767676;
}

.contact_form .input-group input.placeholder {
  font: 16px/50px "swanse";
  color: #767676;
}

.contact_form .input-group input:-moz-placeholder {
  font: 16px/50px "swanse";
  color: #767676;
}

.contact_form .input-group input::-moz-placeholder {
  font: 16px/50px "swanse";
  color: #767676;
}

.contact_form .input-group input::-webkit-input-placeholder {
  font: 16px/50px "swanse";
  color: #767676;
}

.contact_form .input-group input:focus {
  border-color: #f4c02f;
}

.contact_form .input-group label {
  width: 100%;
  display: block;
  margin-top: 12px;
  color: red;
}

.contact_form .input-group textarea {
  border: 1px solid #c9c9c9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0px;
  height: 174px;
  padding: 3px 18px 0px 18px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font: 16px/50px "swanse";
  color: #767676;
}

.contact_form .input-group textarea.placeholder {
  font: 16px/50px "swanse";
  color: #767676;
}

.contact_form .input-group textarea:-moz-placeholder {
  font: 16px/50px "swanse";
  color: #767676;
}

.contact_form .input-group textarea::-moz-placeholder {
  font: 16px/50px "swanse";
  color: #767676;
}

.contact_form .input-group textarea::-webkit-input-placeholder {
  font: 16px/50px "swanse";
  color: #767676;
}

.contact_form .input-group textarea:focus {
  border-color: #f4c02f;
}

.contact_form .input-group:last-child {
  margin-bottom: 0px;
}

.success-message,
.error-message {
  display: none;
  margin-top: 5px;
  padding-left: 15px;
}

/* End Contact Page Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Footer Area css
============================================================================================ */
.footer_area {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding-top: 150px;
  padding-bottom: 130px;
  border-top: 1px solid #a6a6a6;
}

.copyright_wd p {
  color: #000;
}

.list_wd {
  padding-left: 20px;
}

.list_wd .nav li {
  margin-bottom: 4px;
}

.list_wd .nav li a {
  color: #000;
  font: 16px/26px "swanse";
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.list_wd .nav li a:hover {
  color: #f4c02f;
}

.list_wd .nav li:last-child {
  margin-bottom: 0px;
}

/* End Footer Area css
============================================================================================ */
/*---------------------------------------------------- */
/*# sourceMappingURL=style.css.map */
